/*table
    1. extra smaill device
    2. smaill device
    3. medium device
    4. large device
    5. extra large device
*/

/* extra small device */

@media(max-width:575px) {

     .navbar-nav {
         background: #111;
     }

     .navbar .navbar-brand {
         position: static;
     }
     .navbar-toggler{
         margin-right: 40px;
     }
    .navbar-toggler i {
        color: #fff;
        font-size: 20px;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .navbar .link {
        margin-top: 12px;
        margin-left: 25%;
    }
    #banner {
        padding-bottom: 75px;
    }
    #banner .banner-text {
        margin-top: -60px;
    }
    #banner .banner-img {
        left: 0;
        top: -105px;
    }
    #banner .banner-text .jack {
        font-size: 16px;
        text-align: center !important;
    }
    #banner .banner-text .num {
        font-size: 200px;
        text-align: center !important;
        margin-top: -30px;
    }
    #banner .one {
        position: static;
        left: 0;
        transform: translateX(-0);
        padding: 0 0;
        margin-top: 120px;
    }
    #related .games {
        padding-top: 45px;
    }
    #related .related-games {
        margin-bottom: 50px;
    }
    #related .related-games .overlay {
        padding-top: 120px;
    }
    #spin {
        padding-top: 95px;
        padding-bottom: 100px;
    }
    #spin .head .free-spin {
        text-align: center;
    }
    #spin .text .big {
        color: #e009e0;
        text-align: center;
    }
    #spin .text .sm {
        color: #e009e0;
        text-align: center;
    }
    #spin .text .claim {
        margin-left: 38%;
    }
    #plan {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #plan .featured-plan {
        margin-bottom: 85px;
    }
    #plan #featured-plan {
        margin-bottom: 0;
    }
    #time {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    #time .time-head {
        text-align: center;
    }

    #time #accordion .card .card-header .btn i {
        top: 30px;
        right: 10px;
        
    }
    .btn {
        white-space: inherit;
        text-align: left;
    }
    #time .timer .rema {
        text-align: center;
        margin-bottom: 50px;
    }
    #time .timer .hours {
        margin-left: 20%;
    }
    #offer .offer {
        text-align: center;
    }
    #offer .payment {
        text-align: center;
        margin-top: 30px;
    }
    #offer .method ul {
        justify-content: center;
    }
    #footer .about h4 {
        text-align: center;
    }
    #footer .about p {
        text-align: center;
    }
    #footer .about ul {
        justify-content: center;
    }
    #footer .link h4 {
        text-align: center;
        margin-top: 30px;
    }
    #footer .info h4 {
        text-align: center;
    }
    #footer .info .security {
        justify-content: center;
    }
    .btt {
        width: 40px;
        height: 40px;
        right: 40px;
        bottom: 40px;
    }
    .btt i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

}





/* small device */

@media(min-width:576px) and (max-width:767px) {
    .navbar-nav {
        background: #111;
    }

    .navbar .navbar-brand {
        position: static;
    }

    .navbar-toggler {
        margin-left: 36px;
        margin-top: 45px;
    }

    .navbar-toggler i {
        color: #fff;
        font-size: 20px;
    }

    .navbar .link {
        margin-top: -10px;
        margin-left: 325px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        margin-top: 0px;
        margin-left: 60px;
        margin-bottom: 30px;
    }

    #banner .banner-img {
        left: 0px;
    }

    #related .related-games .overlay {
        padding-top: 60px;
    }

    #related .related-games {
        margin-top: 30px;
    }

    #spin .head .free-spin {
        text-align: center;
    }

    #spin .text .big {
        color: #9e4efc;
    }

    #spin .text .sm {
        color: #9e4efc;
    }

    #spin .text .claim {
        margin-left: 35%;
    }

    #plan .featured-plan {
        margin-top: 85px;
    }

    #time .time-head {
        text-align: center;
    }
    .btn {
        white-space: inherit;
        text-align: left;
    }

    #time #accordion .card .card-header .btn i {
        right: 10px;
    }

    #offer .offer {
        text-align: center;
    }

    #offer .payment {
        margin-top: 30px;
        text-align: center;
    }

    #offer .method ul {
        justify-content: center;
    }
    #footer .about ul {
        justify-content: center;
    }

    #footer .about h4 {
        text-align: center;
    }

    #footer .link h4 {
        text-align: center;
        margin-top: 30px;
    }

    #footer .info h4 {
        margin-top: 30px;
        text-align: center;
    }

    #footer .info .security {
        justify-content: center;
    }
    .btt{
        width: 40px;
        height: 40px;
        right: 40px;
        bottom: 40px;
    }
    .btt i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}


    /* medium device */

    @media(min-width:768px) and (max-width:991px) {
        .navbar-nav {
            background: #111;
        }

        .navbar .navbar-brand {
            position: static;
        }

        .navbar-toggler {
            margin-left: 415px;
            margin-top: 55px;
        }

        .navbar-toggler i {
            color: #fff;
            font-size: 25px;
        }

        .navbar .link {
            margin-top: -10%;
            margin-left: 45%;
        }

        .navbar .navbar-nav .nav-item .nav-link {
            margin-top: 0px;
            margin-left: 60px;
            margin-bottom: 30px;
        }

        #banner {
            padding-top: 220px;
        }

        #banner .banner-img {
            position: absolute;
            left: 0px;
            top: -100px;
        }

        #banner .banner-text .num {
            margin-top: 0px;
            margin-left: 70px;
        }

        #banner .banner-text .text {
            margin-top: -10px;
        }

        #related .related-games .overlay {
            padding-top: 35px;
        }

        #spin {
            padding-top: 80px;
            padding-bottom: 100px;
        }

        #plan {
            padding-top: 75px;
        }

        #plan #featured-plan {
            margin-top: 120px;
        }

        #time {
            padding-top: 70px;
        }

        #time .time-head {
            text-align: center;
        }

        #offer .offer {
            text-align: center;
        }

        #offer .payment {
            margin-top: 30px;
            text-align: center;
        }

        #offer .method ul {
            justify-content: center;
        }

        #footer .info h4 {
            margin-top: 40px;
        }
    }


    /* large device */

    @media(min-width:992px) and (max-width:1199px) {
        .navbar {
            top: -15px;
        }
        .navbar .navbar-nav .nav-item .nav-link {
            margin-right: 20px;
        }

        @keyframes smoth {
            0% {
                top: -100px;
            }

            100% {
                top: -15px;
            }
        }

        #related .related-games .overlay {
            padding-top: 90px;
        }

        #time .timer .rema {
            text-align: center;
        }

        #time .timer .hours {
            margin-left: 65px;
            margin-top: 30px;
        }

        #time .timer .minutes {
            margin-top: 30px;
        }

        #time .timer .secends {
            margin-top: 30px;
        }
        .btn {
            white-space: inherit;
            text-align: left;
        }

        #time #accordion .card .card-header .btn i {
            right: 10px;
        }
    }
